.App{
  font-family: 'Nunito', sans-serif;
}
.Application{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
  height: 50vh;
  background-color: #3ca1ff;
  color: aliceblue;
}
.ranges{
  width: 30vw;
}
label{
  color: black;
  font-size: x-large;
  margin: 45px 0 45px 0;
  margin-right: 15px;
}